.desktop_background {
  width: 1440px;
  height: 1029px;
  background-color: #e0f1e8;
  display: flex;
}

@media (max-width: 768px) {
  .desktop_background {
    width: 768px;
    height: 1056px;
  }
}

@media (max-width: 375px) {
  .desktop_background {
    width: 375px;
    height: 1200px;
  }
}
